<body>

    <div class="container headcenter">

        <div class="row">
            <div class="col-12 headcenter">
                <h1><b><i>Perfect Pizza Cart</i></b></h1>
            </div>
        </div>

        <div>

            <table class="center">
                <h1>Orders</h1>
                <tr>
                    <th>orderId</th>
                    <th>smallQty</th>
                    <th>mediumQty</th>
                    <th>largeQty</th>
                    <th>status</th>
                    <th>Total</th>
                </tr>
                {{#each orders}}

                <tr>

                    <td>{{id}}</td>
                    <td>{{smallQty}}</td>
                    <td>{{mediumQty}}</td>
                    <td>{{largeQty}}</td>
                    <td>{{status}}</td>
                    <td>R{{total}}</td>
                    <td>
                        <form action="/pay/{{id}}" method="post">
                             <input type="number" step="0.01" name="amount" required>
                             <input type="submit" name="pay" value="pay">
                        </form>
                    </td>

                </tr>
                {{/each}}

            </table>
            <hr>
            <table class="center">
                 <h1>Ready to be collected!!!</h1>
                <tr>
                    <th>orderId</th>
                    <th>smallQty</th>
                    <th>mediumQty</th>
                    <th>largeQty</th>
                    <th>status</th>
                    <th>Total</th>
                </tr>
                {{#each paid}}

                <tr>

                    <td>{{id}}</td>
                    <td>{{smallQty}}</td>
                    <td>{{mediumQty}}</td>
                    <td>{{largeQty}}</td>
                    <td>{{status}}</td>
                    <td>R{{total}}</td>
                    <td>
                        <form action="/collect/{{id}}" method="post">    
                        <input type="submit" name="collect" value="collect">
                        </form>
                    </td>

                </tr>
                {{/each}}

            </table>
            <hr>
            <table class="center">
                 <h1>collected</h1>
                <tr>
                    <th>orderId</th>
                    <th>smallQty</th>
                    <th>mediumQty</th>
                    <th>largeQty</th>
                    <th>status</th>
                    <th>Total</th>
                </tr>
                {{#each collect}}

                <tr>

                    <td>{{id}}</td>
                    <td>{{smallQty}}</td>
                    <td>{{mediumQty}}</td>
                    <td>{{largeQty}}</td>
                    <td>{{status}}</td>
                    <td>R{{total}}</td>
                    <td></form>
                        <form action="/remove/{{id}}" method="post">
                        <input type="submit" name="remove" value="x">
                        </form>
                    </td>
                    
                </tr>
                {{/each}}

            </table>   

        </div>
        <div class="row">
            <div class="col-12 headcenter">
                <h1><b><i>Enjoy</i></b></h1>
            </div>
        </div>

    </div>
</body>